.id{
  font-weight: bold;
  /* border: 1px solid blue; */
  text-align: center;
}


  .id1{
    text-align: center;
    /* margin-bottom: ; */
  }

    .comments{
      margin-bottom:4%;
      text-align: center;
    }